%p{:style => "font-size: 22px;"}
  Первый в мире удобный менеджер флеш-карточек. Именно так.
  
%p
  - if @card.nil?
    %span.error Новые,,
  - else
    = @card.original_text
    = form_tag("/cards/#{@card.id}/review", url: 'review_card_path') do
      = label_tag(:label, "Введите перевод:")
      = text_field_tag(:translate)
      = submit_tag("Проверить")
