%li
  %span= card.original_text
  %span= card.translated_text
  %span= card.review_date
  %span= link_to 'Edit', edit_card_path(card)
  %span= link_to "Destroy", card, method: :delete,  data: { confirm: 'Are you sure?' }


